@model Player
<div class="well">
    <h3>
        <strong>@Model.FullName</strong>
        <span class="pull-right label label-primary">
            @Model.Age
        </span>
    </h3>
    <span class="lead">@Model.CountryCode</span>
</div>
