@model TournamentEvent

<div class="well">
    <span>
        <strong>@Model.Name</strong> @Model.MatchType.GetDisplayName()
    </span>
    <span class="label label-primary">
        @Model.StartDate.ToString("d") - @Model.EndDate.ToString("d")
    </span>
</div>
