@model TournamentEvent

<div class="well">
    <h5>
        <strong>@Model.Name</strong>
    </h5>
    <p class="label label-primary">
        @Model.StartDate.ToString("d") - @Model.EndDate.ToString("d")
    </p>
</div>
